{{#unless isAdmin}}
  <footer class="w-full bg-white fixed bottom-0 z-40">
    <div
      class="md:hidden justify-between bg-fuchsia-950 p-2 items-center hidden"
      id="show-orders"
    >
      <button class="text-white font-medium" id="cart-btn">
        Ver pedido
        <i class="fa-solid fa-chevron-up"></i>
      </button>
      <span class="text-white mx-4 py-2 font-semibold" id="show-total">R$ 00,00</span>
    </div>

    <div
      class="md:hidden flex items-center justify-around p-3"
    >
      <a
        href="/"
        class="text-gray-600 hover:text-black/90 transition duration-300 flex flex-col items-center"
      >
        <i class="fa-solid fa-store mr-2"></i>
        Inicio
      </a>
      <a
        href="/orders"
        class="text-gray-600 hover:text-black/90 transition duration-300 flex flex-col items-center"
      >
        <i class="fa-solid fa-receipt mr-2"></i>
        Pedidos
      </a>
      <a
        href="/promotions"
        class="text-gray-600 hover:text-black/90 transition duration-300 flex flex-col items-center"
      >
        <i class="fa-solid fa-tag mr-2"></i>
        Promoções
      </a>
      <a
        href="/profile"
        class="text-gray-600 hover:text-black/90 transition duration-300 flex flex-col items-center"
      >
        <i class="fas fa-user mr-2"></i>
        Perfil
      </a>
    </div>
  </footer>
{{/unless}}