<footer class="w-full bg-white fixed bottom-0 z-40">
  <div
    class="sm:hidden justify-between bg-fuchsia-950 p-2 items-center hidden"
    id="show-orders"
  >
    <button class="text-white font-medium" id="cart-btn">
      Ver pedido
      <i class="fa-solid fa-chevron-up"></i>
    </button>
    <span class="text-white mx-4 py-2 font-semibold" id="show-total">R$ 00,00</span>
  </div>

  <div class="sm:hidden flex items-center justify-around p-3">
    <a href="/" class="text-black flex flex-col items-center justify-center">
      <i class="fa-solid fa-store"></i>
      Inicio
    </a>
    <a
      href="/orders"
      class="text-black flex flex-col items-center justify-center"
    >
      <i class="fa-solid fa-receipt"></i>
      Pedidos
    </a>
    <a
      href="/promontions"
      class="text-black flex flex-col items-center justify-center"
    >
      <i class="fa-solid fa-tag"></i>
      Promoções
    </a>
  </div>
</footer>