<header class="hidden md:flex top-0 w-full shadow-md absolute">
  <nav class="flex justify-between h-16 w-full">
    <div class="flex items-center pl-4">
      <a href="#" class="text-lg text-white font-bold">Burger Delight</a>
    </div>

    <ul class="flex items-center justify-end pr-4">
      <li class="mr-6 relative">
        <a
          href="/orders"
          class="text-gray-300 hover:text-white transition duration-300"
        >
          <i class="fa-solid fa-receipt mr-2"></i>
          Pedidos
        </a>
      </li>
      <li class="mr-6">
        <a
          href="/promotions"
          class="text-gray-300 hover:text-white transition duration-300"
        >
          <i class="fa-solid fa-tag mr-2"></i>
          Promoções
        </a>
      </li>
      <li>
        <a
          href="/profile"
          class="text-gray-300 hover:text-white transition duration-300"
        >
          <i class="fas fa-user mr-2"></i>
          Perfil
        </a>
      </li>
    </ul>
  </nav>
</header>