<header class="hidden md:flex top-0 w-full bg-white shadow-md">
  <nav class="w-full">
    <ul class="flex p-3">
      <li class="mr-3">
        <a
          href="/orders"
          class="text-sm text-gray-400 hover:text-black/70 ease-in-out duration-150"
        >
          <i class="fa-solid fa-receipt mr-2"></i>
          Pedidos
        </a>
      </li>

      <li>
        <a
          href="/promotions"
          class="text-sm text-gray-400 hover:text-black/70 ease-in-out duration-150"
        >
          <i class="fa-solid fa-tag mr-2"></i>
          Promoções
        </a>
      </li>

      <li class="ml-auto">
        <a href="/" class="text-gray-400 hover:text-black/70">
          <i class="fa-solid fa-sign-out mx-2"></i>
          Sair
        </a>
      </li>
    </ul>
  </nav>
</header>