<h1 class="text-center text-3xl font-semibold mt-3">Promoções</h1>
<section class="h-40 m-5 rounded-lg shadow-xl bg-white">
  <div class="m-5">
    <h1 class="text-left text-3xl text-black pt-2 font-light">FIDELIDADE</h1>
    <h3 class="font-semibold pt-5 pb-1">Condições</h3>
    <span class="">R$ 250,00 em compras</span>
  </div>
</section>