<div class="container mx-auto p-4 pt-6 md:p-6 lg:p-12 pb-16">
  <div class="w-full max-w-xl mx-auto">
    <h1
      class="text-3xl font-bold mb-4 w-full text-center text-zinc-100"
    >Promoções</h1>

    <div class="flex flex-wrap justify-center w-full">
      <section class="w-full p-4">
        <div class="bg-white shadow-md rounded p-4 mb-4">
          <h2 class="text-lg text-center font-bold mb-2">FIDELIDADE</h2>

          <div class="flex flex-col sm:flex-row justify-between mt-5">
            <div class="flex flex-col">
              <label class="text-gray-600">Condições:</label>
              <p>R$ 250,00 em compras</p>
            </div>
            <div class="flex flex-col mt-2 sm:mt-0">
              <label class="text-gray-600">Beneficios:</label>
              <p>R$ 15,00 de desconto</p>
            </div>
            <div class="flex flex-col mt-2 sm:mt-0">
              <label class="text-gray-600">Valido até:</label>
              <p>Terça-feira 14 de Outubro, 14:07</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>