<div class="">
  <form action="flex justify-center item-center">
    <div class="">
      <label for="">Username</label>
      <input type="text" class="" />
    </div>

    <div class="">
      <label for="">Password</label>
      <input type="password" class="" />
    </div>
  </form>
</div>